Source: ros-melodic-teleop-legged-robots
Section: misc
Priority: optional
Maintainer: SoftServe <robotics@softserveinc.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/teleop_legged_robots
Standards-Version: 3.9.2

Package: ros-melodic-teleop-legged-robots
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-geometry-msgs, ros-melodic-rospy
Description: Generic keyboard teleop for legged robots.
